<div class="container">
  <h1 class="dctr"> Doctor Page </h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="/assets/patients.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="#" class="btn btn-info">list of patients</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="/assets/resources.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="#" class="btn btn-info">Other Resources</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="/assets/date.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="#" class="btn btn-info">Generate a Date</a>
        </div>
      </div>
    </div>
  </div>
</div>
