<div class="container">
  <h1 class="rcpt"> Reception Page </h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="/assets/Patient.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="#" class="btn btn-info">Add New Patient</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="/assets/doctors.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="#" class="btn btn-info">List of Specialities</a>
        </div>
      </div>
    </div>
  </div>
</div>
