<h1 class="prt">praticien</h1>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">INFERMIERS</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer.<br><br></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-info">Go to list</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">MEDECINS</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer.<br><br></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-info">Go to list</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">RECEPTIONISTES</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
        <br><br><br><br></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-info">Go to list</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">AUTRES RH </h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
        content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-info">Go to list</a>
    </div>
  </div>
</div>
