<div class="body">
  <div class="veen">
    <div class="wrapper">
      <form id="login" tabindex="500">
        <h3>Login</h3>
        <div class="mail">
          <input type="mail" name="" />
          <label> Username</label>
        </div>
        <div class="passwd">
          <input type="password" name="" />
          <label>Password</label>
        </div>
        <div class="submit">
          <button (click)="loginUser()" class="dark ">Login</button>
        </div>
      </form>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6 title">
          <h2> Welcome To Your MANAGER-APP</h2>
        </div>
      </div>
    </div>
