<h1>Add New Patient</h1>
<div class="container">
  <form>
    <div class="form-row">

      <div class="form-check col-md-6 mb-6">
        <input class="form-check-input " type="checkbox" value="" id="invalidCheck3" required>
        <label class="form-check-label" for="invalidCheck3">
          Consultation
        </label>
        <div class="invalid-feedback">
          You must define Patient situation
        </div>
      </div>
      <div class="form-check col-md-6 mb-6">
        <input class="form-check-input " type="checkbox" value="" id="invalidCheck3" required>
        <label class="form-check-label" for="invalidCheck3">
          Urgences
        </label>
        <div class="invalid-feedback">
          You must define Patient situation
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <label for="validationDefault01">First name</label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="First name" required>
      </div>
      <div class="col-md-4 mb-4">
        <label for="validationDefault02">Last name</label>
        <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" required>
      </div>
      <div class="col-md-4 mb-4">
        <label for="validationDefault04">Cin</label>
        <input type="text" class="form-control" id="validationDefault04" placeholder="Cin" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">Adress</label>
        <input type="text" class="form-control" id="validationDefault03" placeholder="Adress" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">City</label>
        <input type="text" class="form-control" id="validationDefault04" placeholder="City" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Telephone</label>
        <input type="number" class="form-control" id="validationDefault05" placeholder="tel" required>
      </div>

      <select class="custom-select col-md-6 mb-6">
        <option selected>Open this select to see Specialities </option>
        <option value="1">La médecine générale.</option>
        <option value="2">La médecine du travail</option>
        <option value="3">La gynécologie</option>
      </select>

      <select class="custom-select col-md-6 mb-6">

        <option selected>Open this select to see Doctors</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <div class="col-md-6 mb-6">
        <label for="validationDefault08">Date</label>
        <input type="date" class="form-control" id="validationDefault04" placeholder="date" required>
      </div>
      <div class="col-md-6 mb-6">
        <label for="validationDefault08">Time</label>
        <input type="time" class="form-control" id="validationDefault04" placeholder="Time" required>
      </div>
    </div>
    <div class="boton"> <button type="button" class="btn btn-primary btn-md ">Generate</button> </div>
  </form>



</div>
